{% include '/themes/custom/plasma/header.html.twig' %}
{{ page['tabs'] }}
      <div class="intro intro-section-2">
        <div class="main-container">
        {{ page.content }}
        </div>
      </div>
{% include '/themes/custom/plasma/footer.html.twig' %}