{% include '/themes/custom/plasma/header.html.twig' %}
{% set hdirectory = '/themes/custom/plasma/' %}
<!--<div class="hero contact">
    <div class="main-container">
      <div class="caption-container">
        <h1 class="heading-1">Contact Us</h1>
        <div class="flex-container-6">
          <div class="contact-container">
            <p class="contact-heading">Address</p>
            <div class="contact-link">
              <a href="https://goo.gl/maps/QT53EzhSs2orjqC79" target="_blank" class="contact-link w-inline-block">
                <div>123 Street Name</div>
                <div class="bullet">•</div>
                <div>Baltimore, MD 12345</div>
              </a>
            </div>
          </div>
          <div class="contact-container">
            <p class="contact-heading">Phone</p>
            <div class="contact-link">
              <a href="tel:4101239900" class="contact-link w-inline-block">
                <div>410-123-9900</div>
              </a>
              <div class="bullet">•</div>
              <a href="tel:4103210011" class="contact-link w-inline-block">
                <div>410-321-0011</div>
              </a>
            </div>
          </div>
          <div class="contact-container last">
            <p class="contact-heading">Email</p>
            <a href="mailto:email@plasmaheroes.com" class="contact-link w-inline-block">
              <div>email@plasmaheroes.com</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="intro intro-section-2" data-ix="fade-in-on-scroll">
    <div class="main-container">
      <div class="heading-section" data-ix="move-up-on-scroll">
	  <div class="contextual-region">
		  	{{ contextual_links('block_content:block_content=19') }}
			{{ drupal_block('block_content:721b8e13-f89b-4e6e-8d65-bc0f9fc333c6') }}
		</div>
      </div>
      <div class="flex-container-3" data-ix="move-up-on-scroll">
        <div class="two-third left-align justify">
          <div class="w-form">
		  {{ drupal_entity('webform', 'contact') }}
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '/themes/custom/plasma/footer.html.twig' %}